<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>

    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/images/nodeLogo.png" alt="nodeLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/meme/add">Add Meme</a></li>
                    <li><a href="/meme/all">View All Memes</a></li>
                    <li><a href="/meme/search">Search</a></li>       
                    <li><a href="/genre/add">Add New Genre</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1>Here are your memes</h1>
    <div class="container">
        <div id="replaceMe">{{replaceMe}}</div>
    </div>
</body>

</html>